/**
 * Chart average sessions
 */






.chart-average-sessions {
    grid-area: average-sessions;
    position: relative;
    width: 100%; aspect-ratio: 1 / 1;
    padding: 4em 1em 1em;
    border-radius: 0.375em;
    background-color: $primary;
    color: $white;
    .chart-title {
        position: absolute; top: 2em; left: 2em;
    }
    // .chart-title {
    //     padding: 0 1em;
    //     font-size: 1em;
    // }
    .chart-tooltip {
        padding: 1em 0.375em;
        background-color: $white;
        color: $black;
        font-size: 0.75em;
    }
}