/**
 * Chart performance
 */
 





.chart-performance {
    grid-area: performance;
    position: relative;
    width: 100%; aspect-ratio: 1 / 1;
    border-radius: 0.375em;
    background-color: $secondary;
}